/********
***************
*************************
CONTACT FORM
*************************
***************
*********/

.form p {
    margin-left: 40px;
}

.form .btn {
    position: initial !important;
}

.form .title {
    margin-top: 30px;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: 1px solid #143556 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #143556 !important;
    box-shadow: 0 1px 0 0 #143556 !important;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: #143556 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #143556 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #143556 !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #143556 !important;
}

input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid #143556 !important;
    box-shadow: 0 1px 0 0 #143556 !important;
}

.italique {
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 40px;
}

.importantText {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 40px;
    width: 95%;
}

.question_container {
    width: 100%;
    background: #143556;
    color: #f4f4f4;
}

.question_mark {
    font-weight: 900;
    color: #FAD749;
}

.strategic {
    margin-top: 3%;
    font-weight: 600;
    color: #FAD749;
}

.subtitle {
    font-weight: 600;
    font-size: 1.2rem;
}

.solutions {
    .solution_item {
        display: inline-block;
        p {
            width: 300px;
            margin: 0 auto;
            margin-top: 10%;
        }
    }
    .final_text {
        margin-top: 2%;
        em {
            font-style: normal;
            font-weight: 600;
            color: #143556;
            font-size: 1.4rem;
        }
    }
}

.visionsTrustEx {
    background: #143556;
    color: #f4f4f4;
    em {
        font-weight: 600;
        font-style: normal;
        color: #FAD749;
    }
    .leftContent,.rightContent {
        display: inline-block;
        margin-top: 3%;
    }
    p {
        width: 670px;
    }
    .introduction {
        width: 95%;
    }
    .in {
        padding-top: 3%;
    }
    .tool_allow,.centralized,.statistic {
        display: flex;
        align-items: center;
    }
    .rightContent {
        img {
            margin-left: 205px;
        }
    }
    .whatWeDo {
        margin-left: 40%;
    }
    .btn {
        margin-left: 75%;
    }

}



