/********
***************
*************************
CONTACT FORM
*************************
***************
*********/

.form p {
    margin-left: 40px;
}

.form nav {
    position: initial;
}

.form .btn {
    position: initial !important;
}

.form .title {
    margin-top: 20px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    border-bottom: 1px solid #143556;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #143556;
    box-shadow: 0 1px 0 0 #143556;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label{
    color: #143556;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #143556;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #143556;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #143556;
}

input.valid[type=text]:not(.browser-default) {
    border-bottom: 1px solid #143556;
    box-shadow: 0 1px 0 0 #143556;
}