/******
MENU
******/
.nav {
    background-color: #FFD700 !important;
    position: fixed;
    z-index: 100;
}

.brand-logo {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.logo_visions {
    width: 100%;
}

#nav-mobile a {
    color: #143556;
    font-weight: 600;
}

.right_header {
    float: right;
    margin-right: 5%;
}

.left_header {
    margin-left: 5%;
}

// #nav-mobile li {
   
// }