/******
MENU
******/

.nav {
    background-color: #FFD700 !important;
    position: fixed;
    z-index: 100000;
}

.brand-logo {
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

.logo_visions {
    width: 100%;
}

#nav-mobile a {
    color: #143556;
    font-weight: 600;
}

.right_header {
    float: right;
    margin-right: 5%;
}

.left_header {
    margin-left: 5%;
}

.bar {
    width: 40px;
    height: 5px;
    background-color: #1C3553;
    border-radius: 1%;
    margin-bottom: 8px;
}

.burger {
    z-index: 12345;
    position: absolute;
    background-color: #FFD700;
    width: 30%;
    right: 0;
    height: 256px;
    display: none;
} 

.crystal_magique {
    z-index: 12345;
    position: absolute;
    width: 30%;
    right: 0;
    height: 256px;
    display: none;
    overflow: hidden;
}

.menu_burger {
    display: none;
    float: right;
    margin-right: 3%;
    margin-top: 2%;
    cursor: pointer;
}

.jdg {
    width: 100%;
    height: 100%;
}

.links2 {
    opacity: 0;
    color: #1C3553;
}