/******
CHOOSE VISIONS 
******/

.choose_container .choose_block {
    display: inline-block;
}

.choose_container .choose_block img {
    height: 200px;
}

.padlock {
    height: 215px;
}

.choose_img {
    width: 85%;
}