/* Popup */
.modal {
    border: solid #143556 5px;
    height: 450px;
    width: 70% !important;
}

.modal .modal-header {
    background-image: url("../assets/img/popup/canvas.png");
    height: 140px;
    color: #f4f4f4;
}

.modal .modal_number {
    display: inline-block;
    font-size: 72px;
    color: #FFD700;
    margin: 0;
}

.modal .modal_title {
    font-size: 48px;
    font-weight: 500;
}

.modal .modal_picto {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0;
}

.modal .modal_picto_content {
    width: 50px;
    height: 50px;
}

.modal .modal_picto_content.arrow_modal {
    margin-bottom: 20px;
}

.modal .modal_picto_container .img_text {
    display: inline-block;
    margin: 5%;
}

.modal .block {
    display: block;
    margin: 0;
}

#modal2 .modal_picto_content {
    width: 40px;
    height: 40px;
}

#modal2 .modal_picto_container .img_text {
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 0;
}

#modal3 .modal_picto_content {
    height: 100px;
    width: 100px;
}

#modal4 .modal_picto_content {
    height: 100px;
    width: 100px;
}


/* They trust us */
.trust_container {
    display: flex;
    position: relative;
    background: #143556;
    color: #f4f4f4;
    height: 440px;
}

.trust_title {
    position: absolute;
}

.trust_slider {
    height: 100%;
    display: flex;
    align-items: center;

}

.trust_container .round_logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px !important;
    height: 200px;
    background: #f4f4f4;
    border-radius: 100%;
    margin-right: 2%;
    margin-left: 2%;
    overflow: hidden;
}

.active_logo {
    display: flex !important;
}

.kawaa {
    width: 60% !important;
}

.trust_container .logo_slider {
    width: 190px;
}

.trust_container .arrow_slider_right{
    right: 0;
    margin-left : 3%;
    margin-right: 3%;
}

.trust_container .arrow_slider_left{
    margin-left: 3%;
}