@media (max-width: 1150px) {
    .left_header {
        margin-left: 3%;
    }
    .right_header {
        margin-right: 3%;
    }
    .slogan {
        font-size: 3rem !important;    
    }
    .line1 {
        top: 115px !important;
        left: 97% !important;
        transform: rotate(0deg) !important;
    }
    .line2 {
        transform: rotate(0deg) !important;
        top: 35% !important;
        left: 98% !important;
    }
    .line3 {
        position: absolute;
        top: 86% !important;
        left: -185% !important;
        transform: rotate(-33deg) !important;
        width: 450px !important;
    }
    .compliance {
        transform: translate(-249%, 100%) !important;
    }
    .design {
        transform: translate(90%, -110%) !important;
    }
    .future {
        transform: translate(-158%, -20px) !important;
    }

}

@media (max-width: 1115px) {
    
}

@media (max-width: 1050px) {
    .left_header {
        padding: 0;
    }
    .right_header {
        padding: 0;
    }
    .choose_p {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
}

@media (max-width: 950px) {
    .cleandata {
        height: 80px !important;
        left: 75% !important;
        top: 37%;
    }
}

@media (max-width: 900px) {
    .slogan {
        font-size: 2.2rem !important;
    }
    .choose_container .choose_block img{
        height: 150px !important;
    }
    .left_header {
        display: none;
    }
    .right_header {
        display: none;
    }
    .burger_links {
        display: block !important;
    }
    .ppm_wrapper {
        width: 90% !important;
    }
    .menu_burger {
        display: block !important;
    }
}

@media (max-width: 830px) {
    .links{
        padding: 0;
    }
    .cleandata {
        height: 80px !important;
        left: 75% !important;
        top: 37%;
    }
    .round {
        width: 175px !important;
        height: 175px !important;
    }
}

@media (max-width: 800px) {
    .choose_container .choose_block img{
        height: 100px !important;
    }
    .links{
        font-size: 0.8rem !important;
        padding: 0;
    }
    .btn {
        width: 100px !important;
        height: 100px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        line-height: 1.4 !important;
    }
    .slogan_container .btn {
        bottom: 30px;
    }
    .scroll_indicator {
        top: 75%;
    }
    .ttu_slides {
        height: 160px;
    }
    .trust_container {
        height: 350px;
    }
}

@media (max-width: 750px) {
    .round {
        width: 120px !important;
        height: 120px !important;
    }
    .ppm_title {
        font-size: 2rem;
    }
    .ppm_picto {
        top: 26% !important;
        width: 40px !important;
    }
    .line1 {
        top: 65px !important;
        left: 75% !important;
        width: 400px !important;
    }
    .line2 {
        left: 100% !important;
        top: 32% !important;
        width: 400px !important;
    }
    .line3 {
        left: -270% !important;
    }
    .compliance {
        transform: translate(-362%, 100%) !important;
    }
    .future {
        transform: translate(-265%, -20px) !important;
    }
}

@media (max-width: 700px) {
    .title {
        text-align: center;
    }
    .slogan {
        font-size: 1.8rem !important;
    }
    .choose_container .choose_block img{
        height: 100px !important;
    }
    .cleandata {
        position: relative !important;
        margin-left: calc(50% - 111px);
        left: 0 !important;
        height: 100px !important;
    }
    .links2 {
        font-size: 1rem !important;
    }
}

@media (max-width: 600px) {
    .choose_p {
        font-size: 0.8rem !important;
    }
    .slogan {
        font-size: 1.6rem !important;
    }
    .btn {
        width: 80px !important;
        height: 80px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        line-height: 1 !important;
    }
    .expert_logo {
        position: relative;
        text-align: center;
        display: inline-block !important;
    }
    .round_logo_expert {
        width: 25%;
        display: inline-block !important;
        position: relative;
    }
    .line1 {
        width: 250px !important;
    }
    .line2 {
        width: 250px !important;
    }
    .line3 {
        width: 400px !important;
        left: -225% !important;
    }
    .design {
        transform: translate(25%, -110%) !important;
    }
    .future {
        transform: translate(-339%, -20px) !important;
    }
    .crystal_magique {
        width: 50%;
    }
    .links2 {
        font-size: 0.8rem !important;
    }
}


@media (max-width: 500px) {
    .slogan {
        font-size: 1.4rem !important;
    }
    .btn {
        width: 62px !important;
        height: 62px !important;
        font-size: 0.8rem !important;
        bottom: 10px !important;
    }
    .design {
        transform: translate(-20%, -110%) !important;
    }
    .future {
        transform: translate(-393%, -20px) !important;
    }
    .line3 {
        top: 82% !important;
        left: -150% !important;
        width: 300px !important;
    }
    .title {
        margin-top: 2% !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 430px) {
    .slogan {
        font-size: 1.2rem !important;
    }
    .choose_container .choose_block img{
        height: 50px !important;
    }
    .design {
        transform: translate(118%, -127%) !important;
        margin-left: 0 !important;
    }
    .future {
        transform: translate(47px, -15px) !important;
        margin-left: 0 !important;
    }
    .line1{
        width: 200px !important;
    }
    .line2 {
        width: 200px !important;
    }
    .line3 {
        left: -100% !important;
        transform: rotate(-40deg) !important;
    }
    .ppm_box_title {
        font-size: 1.2rem !important;
    }
}