@media (max-width: 1150px) {
    .left_header {
        margin-left: 3%;
    }
    .right_header {
        margin-right: 3%;
    }
    .slogan {
        font-size: 3rem !important;    
    }

}

@media (max-width: 1115px) {
    .ppm_container {
        display: none;
    }
}

@media (max-width: 1050px) {
    .left_header {
        padding: 0;
    }
    .right_header {
        padding: 0;
    }
    .choose_p {
        font-size: 1rem;
    }
}

@media (max-width: 1000px) {
    .cleandata {
        left: 6% !important;
        top: 71%;
        height: 100px !important;
    }
}


@media (max-width: 900px) {
    .slogan {
        font-size: 2.2rem !important;
    }
    .choose_container .choose_block img{
        height: 150px !important;
    }
    .left_header {
        display: none;
    }
    .right_header {
        display: none;
    }
}

@media (max-width: 830px) {
    .links{
        padding: 0;
    }
}

@media (max-width: 800px) {
    .choose_container .choose_block img{
        height: 100px !important;
    }
    .links{
        font-size: 0.8rem !important;
        padding: 0;
    }
    .btn {
        width: 100px !important;
        height: 100px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        line-height: 1.4 !important;
    }
    .slogan_container .btn {
        bottom: 30px;
    }
    .scroll_indicator {
        top: 75%;
    }
    .ttu_slides {
        height: 160px;
    }
    .trust_container {
        height: 350px;
    }
}

@media (max-width: 700px) {
    .title {
        text-align: center;
    }
    .slogan {
        font-size: 1.8rem !important;
    }
    .choose_container .choose_block img{
        height: 100px !important;
    }
}

@media (max-width: 600px) {
    .choose_p {
        font-size: 0.8rem !important;
    }
    .slogan {
        font-size: 1.6rem !important;
    }
    .btn {
        width: 80px !important;
        height: 80px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        line-height: 1 !important;
    }
}

@media (max-width: 500px) {
    .slogan {
        font-size: 1.4rem !important;
    }
}

@media (max-width: 430px) {
    .slogan {
        font-size: 1.2rem !important;
    }
    .choose_container .choose_block img{
        height: 50px !important;
    }
}