/* Team and partners */

.team_container .caption {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    margin-left: 5%;
}

.team_container .name {
    color: #FFD700;
}

.team_container .function {
    color: #F4F4F4;
}

.team_container .description {
    font-weight: 400;
    font-size: 14px;
    color: #F4F4F4;
    text-transform: initial;
}

.team_container .slider .slides li img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.team_container .slider .slides li img.virtual_conf {
    height: 78px !important;
}

.team_container .slider .slides li img.privacy_tech {
    height: 170px !important;
    border-radius: 0% !important;
}

.team_container .slider .slides li img.jollyclick_slider {
    height: 125px;
    width: 125px;
}

.team_container .slider .slides li {
    background: #143556;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_container .slider .indicators .indicator-item.active {
    background-color: #FAD749;
}