
/* They trust us */
.trust_container {
    display: flex;
    position: relative;
    background: #143556;
    color: #f4f4f4;
    height: 400px;
}

.trust_container .caption {
    margin-top: 30px;

}

.trust_title {
    position: absolute;
}

.trust_slider {
    height: 100%;
    display: flex;
    align-items: center;

}

.trust_container .round_logo {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 150px !important;
    height: 150px;
    background: #f4f4f4;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 3%;
    margin-right: 3%;
}

.active_logo {
    display: flex !important;
}

.kawaa {
    width: 60% !important;
}

.trust_container .logo_slider {
    width: 190px;
}

.trust_container .indicators {
    bottom: 15% !important;
    z-index: 300;
}

.trust_container .slider .indicators .indicator-item.active {
    background-color: #FAD749;
}    

