/* They trust us */

.trust_container {
    display: flex;
    position: relative;
    background: #143556;
    color: #f4f4f4;
    height: 400px;
}

.trust_title {
    position: absolute;
}

.trust_slider {
    height: 100% !important;
    display: flex;
    align-items: center;
}

.ttu_slides {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 210px;
    left: 0 !important;
    top: 0 !important;
    background-color: #fefefe;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo_slider {
    width: 24% !important;
    background-repeat: no-repeat;
    background-size: contain !important;
    margin-left: 2%;
    margin-right: 2%;
}

.fannyjtm {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.trust_container .round_logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25% !important;
    height: 14rem;
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
}

.active_logo {
    display: flex !important;
}

.slider .indicators .indicator-item.active {
    background-color: #FAD749 !important;
}

.img9 {
    height: 179px !important;
    transform: scale(0.6, 0.6);
}
