html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-padding-start: 0;
  align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

/* IE clear cross */
input::-ms-clear {
  display: none; }

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
/**,*::before,*::after,*:before,*:after {
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
/* hr */
hr {
  height: 1px;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }

/******
MENU
******/
.nav {
  background-color: #FFD700 !important;
  position: fixed;
  z-index: 100000; }

.brand-logo {
  left: 50%;
  transform: translateX(-50%);
  height: 100%; }

.logo_visions {
  width: 100%; }

#nav-mobile a {
  color: #143556;
  font-weight: 600; }

.right_header {
  float: right;
  margin-right: 5%; }

.left_header {
  margin-left: 5%; }

.bar {
  width: 40px;
  height: 5px;
  background-color: #1C3553;
  border-radius: 1%;
  margin-bottom: 8px; }

.burger {
  z-index: 12345;
  position: absolute;
  background-color: #FFD700;
  width: 30%;
  right: 0;
  height: 256px;
  display: none; }

.crystal_magique {
  z-index: 12345;
  position: absolute;
  width: 30%;
  right: 0;
  height: 256px;
  display: none;
  overflow: hidden; }

.menu_burger {
  display: none;
  float: right;
  margin-right: 3%;
  margin-top: 2%;
  cursor: pointer; }

.jdg {
  width: 100%;
  height: 100%; }

.links2 {
  opacity: 0;
  color: #1C3553; }

/* Footer */
.page-footer {
  background: #1c1c1c !important;
  color: #F4F4F4; }

/******
CHOOSE VISIONS 
******/
.choose_container .title {
  margin-bottom: 3%; }

.choose_container .choose_block {
  display: inline-block; }

.choose_container .choose_block img {
  height: 200px;
  width: 40% !important; }

.padlock {
  height: 215px; }

.choose_img {
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

.choose_p {
  margin-top: 2rem;
  font-size: 1.1rem; }

/******
SLOGAN 
******/
/* Canvas */
canvas {
  position: relative;
  z-index: 1; }

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #143556;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

/* Text */
.slogan_container {
  position: relative; }

.slogan1 {
  left: 0 !important;
  width: 100% !important;
  top: 20%; }

.slogan2 {
  left: 0 !important;
  width: 100% !important;
  top: 30% !important; }

.slogan_container .slogan {
  position: absolute;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 3.4rem;
  z-index: 3000; }

.slogan_container .slogan b {
  font-style: normal;
  font-weight: 500;
  color: #FFD700; }

.css-typing h1 {
  white-space: nowrap;
  overflow: hidden; }

.css-typing h1.slogan1 {
  opacity: 0;
  animation: type 3s steps(40, end);
  animation-delay: 0s;
  animation-fill-mode: forwards; }

.css-typing h1.slogan2 {
  opacity: 0;
  animation: type 3s steps(40, end);
  animation-delay: 3s;
  animation-fill-mode: forwards;
  top: 50%; }

@keyframes type {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  99.9% {
    border-right: .15em solid yellow; }
  100% {
    opacity: 1;
    border: none; } }
.slogan_container .btn {
  bottom: 100px;
  position: absolute; }

.slogan_container .scroll_indicator {
  z-index: 3005;
  cursor: pointer;
  position: absolute;
  transform: translateY(-100%);
  left: calc(50% - 1.5em);
  width: 3em;
  animation: jump_arrow infinite ease-in-out 1s;
  will-change: bottom; }

@keyframes jump_arrow {
  0% {
    bottom: 60px; }
  50% {
    bottom: 65px; }
  100% {
    bottom: 60px; } }
/* CLEANDATA WORKSHOPS */
.cleandata_container {
  position: relative;
  height: 100%;
  padding-bottom: 8%; }

.cleandata_container .cleandata_btn {
  margin-top: 2%; }

.cleandata_container .text {
  margin-left: 70px;
  margin-top: 5%; }

.cleandata_container .expert_logo {
  margin-top: 6%;
  display: flex;
  justify-content: center;
  align-items: center; }

.cleandata_container .round_logo_expert {
  position: relative;
  margin-left: 3%;
  margin-right: 3%;
  width: 150px;
  height: 150px;
  border-radius: 100%; }

.cleandata_container img.logo_expert {
  width: 97px;
  position: absolute;
  left: 17%; }

.cleandata_container img.logo_expert.cisco {
  top: 30%; }

.cleandata_container img.logo_expert.qwant {
  top: 10%; }

.cleandata_container img.logo_expert.cnil {
  top: 30%; }

.cleandata_container img.logo_expert.microsoft {
  top: 20%; }

.cleandata_container img.logo_expert.ovh {
  top: 25%; }

.team_container {
  position: relative;
  display: flex;
  color: #f4f4f4;
  background: #143556;
  height: 440px; }

.team_title {
  position: absolute;
  z-index: 3; }

.team_slider {
  height: 440px; }

.team_items {
  display: flex;
  align-items: center;
  justify-content: center; }

.cleandata_container img.cleandata {
  height: 150px;
  position: absolute;
  left: 66%; }

/* Popup */
.modal {
  border: solid #143556 5px;
  height: 600px;
  width: 70% !important;
  max-height: 78% !important; }

.modal .modal-header {
  background-color: #143556;
  height: 27%;
  color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.modal .modal_number {
  display: flex;
  font-size: 72px;
  color: #FFD700;
  margin: 0;
  align-items: center; }

.modal_picto_container {
  transform: translateY(-30px); }

.modal .modal_title {
  font-size: 3rem;
  font-weight: 500; }

.modal .modal_picto {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0; }

.modal .modal_picto_content {
  width: 50px;
  height: 50px; }

.modal .modal_picto_content.arrow_modal {
  margin-bottom: 20px; }

.modal .modal_picto_container .img_text {
  display: inline-block;
  margin: 5%; }

.modal .block {
  display: block;
  margin: 0;
  margin-top: 10%; }

#modal2 .modal_picto_content {
  width: 40px;
  height: 40px; }

#modal2 .modal_picto_container .img_text {
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 0; }

#modal3 .modal_picto_content {
  height: 100px;
  width: 100px; }

#modal4 .modal_picto_content {
  height: 100px;
  width: 100px; }

/* Privacy project management */
.ppm_container {
  position: relative; }

.ppm_container .ppm_block {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  align-items: center; }

.ppm_container .top {
  margin-right: 300px; }

.ppm_container .bottom {
  margin-left: 300px; }

.ppm_container .ppm_block .round {
  display: flex;
  justify-content: center;
  background: #143556;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  box-shadow: 10px 10px 50px grey;
  color: #FFD700; }

.ppm_row {
  display: flex !important;
  width: 90% !important; }

.exploration {
  margin-right: 29%;
  display: flex;
  justify-content: center; }

.ppm_container .ppm_block .round:hover {
  cursor: pointer;
  background: #FFD700;
  color: #143556; }

.ppm_container .ppm_block .ppm_box_title {
  font-weight: 500;
  font-size: 24px; }

.ppm_container .ppm_line {
  height: 1.5px;
  width: 300px;
  background: #143556;
  opacity: 0.5;
  z-index: -20; }

.ppm_container .ppm_line.line1 {
  position: absolute;
  top: 90%;
  left: 70%;
  transform: rotate(40deg); }

.ppm_container .ppm_line.line2 {
  position: absolute;
  top: 80%;
  left: 70%;
  transform: rotate(40deg); }

.ppm_container .ppm_line.line3 {
  position: absolute;
  top: -30%;
  left: 30%;
  transform: rotate(-60deg); }

.ppm_container .ppm_picto {
  position: absolute;
  top: 31%;
  width: 70px;
  display: flex;
  align-self: center; }

.ppm_wrapper {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px; }

/* Team and partners */
.team_container .caption {
  position: relative !important;
  top: 2% !important;
  left: 0 !important;
  margin-left: 5%; }

.team_container .name {
  color: #FFD700; }

.team_container .function {
  color: #F4F4F4; }

.team_container .description {
  font-weight: 400;
  font-size: 14px;
  color: #F4F4F4;
  text-transform: initial; }

.team_container .slider .slides li img {
  height: 150px;
  width: 150px;
  border-radius: 100%; }

.team_container .slider .slides li img.virtual_conf {
  height: 78px !important; }

.team_container .slider .slides li img.privacy_tech {
  height: 170px !important;
  border-radius: 0% !important; }

.team_container .slider .slides li img.jollyclick_slider {
  height: 125px;
  width: 125px; }

.team_container .slider .slides li {
  background: #143556;
  display: flex;
  justify-content: center;
  align-items: center; }

.team_container .slider .indicators .indicator-item.active {
  background-color: #FAD749; }

/********
***************
*************************
CONTACT FORM
*************************
***************
*********/
.fullorno {
  overflow-x: hidden; }

.form p {
  margin-left: 40px; }

.form .btn {
  position: initial !important; }

.form .title {
  margin-top: 30px; }

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  border-bottom: 1px solid #143556 !important; }

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #143556 !important;
  box-shadow: 0 1px 0 0 #143556 !important; }

input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: #143556 !important; }

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #143556 !important; }

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #143556 !important; }

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid #143556 !important; }

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #143556 !important;
  box-shadow: 0 1px 0 0 #143556 !important; }

.italique {
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 40px; }

.importantText {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 40px;
  width: 95%; }

.question_container {
  width: 100%;
  background: #143556;
  color: #f4f4f4; }

.question_mark {
  font-weight: 900;
  color: #FAD749; }

.strategic {
  margin-top: 3%;
  font-weight: 600;
  color: #FAD749; }

.subtitle {
  font-weight: 600;
  font-size: 1.2rem; }

.solutions .solution_item {
  display: inline-block; }
  .solutions .solution_item p {
    width: 300px;
    margin: 0 auto;
    margin-top: 10%; }
.solutions .final_text {
  margin-top: 2%; }
  .solutions .final_text em {
    font-style: normal;
    font-weight: 600;
    color: #143556;
    font-size: 1.4rem; }

@media (max-width: 900px) {
  .visionsTrustEx img {
    width: 90%; } }
.visionsTrustEx {
  background: #143556;
  color: #f4f4f4; }
  .visionsTrustEx em {
    font-weight: 600;
    font-style: normal;
    color: #FAD749; }
  .visionsTrustEx .leftContent, .visionsTrustEx .rightContent {
    display: inline-block;
    margin-top: 3%; }
  .visionsTrustEx p {
    display: inline-block;
    width: 70%;
    margin-right: 3%; }
  .visionsTrustEx .introduction {
    width: 95%; }
  .visionsTrustEx .in {
    padding-top: 3%; }
  .visionsTrustEx .tool_allow, .visionsTrustEx .centralized, .visionsTrustEx .statistic {
    display: flex;
    align-items: center; }
  .visionsTrustEx .whatWeDo {
    width: 100%; }
  .visionsTrustEx .btn {
    margin-left: 75%; }

/* They trust us */
.trust_container {
  display: flex;
  position: relative;
  background: #143556;
  color: #f4f4f4;
  height: 400px; }

.trust_title {
  position: absolute; }

.trust_slider {
  height: 100% !important;
  display: flex;
  align-items: center; }

.ttu_slides {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  height: 210px;
  left: 0 !important;
  top: 0 !important;
  background-color: #fefefe;
  padding-top: 30px;
  padding-bottom: 30px; }

.logo_slider {
  width: 24% !important;
  background-repeat: no-repeat;
  background-size: contain !important;
  margin-left: 2%;
  margin-right: 2%; }

.fannyjtm {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden; }

.trust_container .round_logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25% !important;
  height: 14rem;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%; }

.active_logo {
  display: flex !important; }

.slider .indicators .indicator-item.active {
  background-color: #FAD749 !important; }

.img9 {
  height: 179px !important;
  transform: scale(0.6, 0.6); }

@media (max-width: 1150px) {
  .left_header {
    margin-left: 3%; }

  .right_header {
    margin-right: 3%; }

  .slogan {
    font-size: 3rem !important; }

  .line1 {
    top: 115px !important;
    left: 97% !important;
    transform: rotate(0deg) !important; }

  .line2 {
    transform: rotate(0deg) !important;
    top: 35% !important;
    left: 98% !important; }

  .line3 {
    position: absolute;
    top: 86% !important;
    left: -185% !important;
    transform: rotate(-33deg) !important;
    width: 450px !important; }

  .compliance {
    transform: translate(-249%, 100%) !important; }

  .design {
    transform: translate(90%, -110%) !important; }

  .future {
    transform: translate(-158%, -20px) !important; } }
@media (max-width: 1050px) {
  .left_header {
    padding: 0; }

  .right_header {
    padding: 0; }

  .choose_p {
    font-size: 1rem; } }
@media (max-width: 950px) {
  .cleandata {
    height: 80px !important;
    left: 75% !important;
    top: 37%; } }
@media (max-width: 900px) {
  .slogan {
    font-size: 2.2rem !important; }

  .choose_container .choose_block img {
    height: 150px !important; }

  .left_header {
    display: none; }

  .right_header {
    display: none; }

  .burger_links {
    display: block !important; }

  .ppm_wrapper {
    width: 90% !important; }

  .menu_burger {
    display: block !important; } }
@media (max-width: 830px) {
  .links {
    padding: 0; }

  .cleandata {
    height: 80px !important;
    left: 75% !important;
    top: 37%; }

  .round {
    width: 175px !important;
    height: 175px !important; } }
@media (max-width: 800px) {
  .choose_container .choose_block img {
    height: 100px !important; }

  .links {
    font-size: 0.8rem !important;
    padding: 0; }

  .btn {
    width: 100px !important;
    height: 100px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    line-height: 1.4 !important; }

  .slogan_container .btn {
    bottom: 30px; }

  .scroll_indicator {
    top: 75%; }

  .ttu_slides {
    height: 160px; }

  .trust_container {
    height: 350px; } }
@media (max-width: 750px) {
  .round {
    width: 120px !important;
    height: 120px !important; }

  .ppm_title {
    font-size: 2rem; }

  .ppm_picto {
    top: 26% !important;
    width: 40px !important; }

  .line1 {
    top: 65px !important;
    left: 75% !important;
    width: 400px !important; }

  .line2 {
    left: 100% !important;
    top: 32% !important;
    width: 400px !important; }

  .line3 {
    left: -270% !important; }

  .compliance {
    transform: translate(-362%, 100%) !important; }

  .future {
    transform: translate(-265%, -20px) !important; } }
@media (max-width: 700px) {
  .title {
    text-align: center; }

  .slogan {
    font-size: 1.8rem !important; }

  .choose_container .choose_block img {
    height: 100px !important; }

  .cleandata {
    position: relative !important;
    margin-left: calc(50% - 111px);
    left: 0 !important;
    height: 100px !important; }

  .links2 {
    font-size: 1rem !important; } }
@media (max-width: 600px) {
  .choose_p {
    font-size: 0.8rem !important; }

  .slogan {
    font-size: 1.6rem !important; }

  .btn {
    width: 80px !important;
    height: 80px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    line-height: 1 !important; }

  .expert_logo {
    position: relative;
    text-align: center;
    display: inline-block !important; }

  .round_logo_expert {
    width: 25%;
    display: inline-block !important;
    position: relative; }

  .line1 {
    width: 250px !important; }

  .line2 {
    width: 250px !important; }

  .line3 {
    width: 400px !important;
    left: -225% !important; }

  .design {
    transform: translate(25%, -110%) !important; }

  .future {
    transform: translate(-339%, -20px) !important; }

  .crystal_magique {
    width: 50%; }

  .links2 {
    font-size: 0.8rem !important; } }
@media (max-width: 500px) {
  .slogan {
    font-size: 1.4rem !important; }

  .btn {
    width: 62px !important;
    height: 62px !important;
    font-size: 0.8rem !important;
    bottom: 10px !important; }

  .design {
    transform: translate(-20%, -110%) !important; }

  .future {
    transform: translate(-393%, -20px) !important; }

  .line3 {
    top: 82% !important;
    left: -150% !important;
    width: 300px !important; }

  .title {
    margin-top: 2% !important;
    margin-left: 0 !important; } }
@media (max-width: 430px) {
  .slogan {
    font-size: 1.2rem !important; }

  .choose_container .choose_block img {
    height: 50px !important; }

  .design {
    transform: translate(118%, -127%) !important;
    margin-left: 0 !important; }

  .future {
    transform: translate(47px, -15px) !important;
    margin-left: 0 !important; }

  .line1 {
    width: 200px !important; }

  .line2 {
    width: 200px !important; }

  .line3 {
    left: -100% !important;
    transform: rotate(-40deg) !important; }

  .ppm_box_title {
    font-size: 1.2rem !important; } }
/******
GENERAL 
******/
body {
  background: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.6rem;
  margin-left: 40px; }

.btn {
  position: absolute !important;
  z-index: 3001 !important;
  width: 342px;
  border-radius: 20em !important;
  background: #FFD700 !important;
  color: #143556 !important;
  font-weight: 600;
  text-transform: uppercase;
  right: 40px !important; }

.btn:hover {
  background: #143556 !important;
  color: #FFD700 !important; }

p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.4; }

.is_transform {
  transform: translateY(500px); }

.slider {
  position: relative;
  width: 100%; }

.slides {
  background-color: #9e9e9e;
  margin: 0; }

.slider .slides li {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden; }

.slider .slides li.active {
  z-index: 2; }

.indicators {
  padding: 1% !important;
  z-index: 300; }
