@import 'scss/_reset.scss';
@import 'scss/header-footer/_header.scss';
@import 'scss/header-footer/_footer.scss';
@import 'scss/accueil/_chooseVisions.scss';
@import 'scss/accueil/_slogan.scss';
@import 'scss/accueil/_cleandataWorkshops.scss';
@import 'scss/accueil/_popUp.scss';
@import 'scss/accueil/_privacyProjectManagement.scss';
@import 'scss/accueil/_teamAndPartners.scss';
@import 'scss/contact/_contact.scss';
@import 'scss/accueil/_theyTrustUs.scss';
@import 'scss/accueil/_responsiveAccueil.scss';
/******
GENERAL 
******/

body {
    background: #F4F4F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 36px;
    margin-left: 40px;
}

.btn {
    position: absolute !important;
    z-index: 3001 !important;
    width: 342px;
    border-radius: 20em !important;
    background: #FFD700 !important;
    color: #143556 !important;
    font-weight: 600;
    text-transform: uppercase;
    right: 40px !important;
}

.btn:hover {
    background: #143556 !important;
    color: #FFD700 !important;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
}

.is_transform {
    transform: translateY(500px);
}

.slider {
    position: relative;
    width: 100%;
}

.slides {
    background-color: #9e9e9e;
    margin: 0;
}

.slider .slides li {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;
}

.slider .slides li.active {
    z-index: 2;
}

.indicators {
    padding: 1% !important;
    z-index: 300;
}